.wrapper {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;

	.card-thumb {
		width: 90px;
		border-radius: 1rem;

		&.trigger-card {
			width: 78px;
			height: 100px;
			margin-top: 4px;
			object-fit: contain;
		}

		&.opponent-trigger {
			width: 30px;
			border-radius: 0;
			margin: 5px 1px 0 2px;
		}

		&.field-card {
			margin: 5px 13px 0 5px;
		}
	}

	.target-select {
		width: 78px;
		margin-left: 10px;
	}

	.attack-defence-btn {
		position: absolute;
		width: 70px;
		margin-left: 15px;
		top: -3px;
	}

	#hand_cards,
	#battle_field,
	#trigger_zone {
		margin: 8px 20px;
		padding-left: 2px;
		border: 2px dashed #fff;
	}

	#hand_cards {
		width: 700px;
		height: 120px;
		padding: 15px 10px;

		&.ring {
			border: 2px dashed rgb(58, 19, 231);
		}

		img {
			margin-right: 5px;
		}
	}

	#battle_field {
		width: 550px;
		height: 355px;
		margin-right: 0;

		&.ring {
			border: 2px dashed rgb(58, 19, 231);
		}
		&.ring_ng {
			border: 2px dashed rgb(231, 19, 26);
		}
		.opponent_unit,
		.your_unit {
			height: 120px;
			margin: 0 5px;
		}
	}

	#trigger_zone {
		min-width: 333px;
		height: 120px;
		background-image: url('/image/trigger.png');
		margin-left: auto;
		margin-right: 5%;

		&.ring {
			border: 2px dashed rgb(58, 19, 231);
		}
		&.ring_ng {
			border: 2px dashed rgb(231, 19, 26);
		}

		img {
			cursor: pointer;
		}
	}

	#opponent_trigger_zone {
		width: 132px;
		height: 48px;
		background-image: url('/image/trigger.png');
		background-size: contain;
		margin-left: auto;
		margin-right: 5%;
	}

	#battle_field > div {
		display: flex;
		flex-direction: row;
		padding: 0;

		&.battle-space {
			max-height: 90px;
			margin: 0;
		}

		.your_unit,
		.opponent_unit {
			position: relative;

			.field-no-card {
				width: 90px;
				height: 126px;
			}

			.status {
				position: absolute;
				width: 88px;
				top: 88px;
				left: 0;
				opacity: 0.6;
			}

			.status_sword {
				position: absolute;
				top: 92px;
				left: 13px;
				opacity: 0.9;
				background-color: white;
			}

			.status_name {
				position: absolute;
				top: 93px;
				left: 30px;
				opacity: 0.7;
			}

			.status_shield {
				position: absolute;
				top: 114px;
				left: 13px;
				opacity: 0.9;
				background-color: yellow;
			}

			.status_bp {
				position: absolute;
				top: 115px;
				left: 30px;
				opacity: 0.7;
			}
		}
	}

	.button_container {
		width: 100vw;
		min-height: 66px;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 24px;

		.unit {
			font-size: 14px;
		}

		.left-end {
			margin-left: auto;
		}

		div {
			margin-right: 25px;
		}

		.menu-button {
			margin-right: 15px;
		}

		img {
			width: 100px;
			cursor: pointer;

			&.menu-button {
				width: 70px;
			}

			&.activate {
				width: 95px;
			}
		}
	}

	.main_container {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		.info-area {
			width: 40vw;
			font-size: 22px;

			.score {
				margin-left: 25px;
			}

			.opponent {
				margin-top: 40px;
			}

			.parameter1 {
				margin-top: 10px;
				margin-left: 5vw;
				min-width: 10vw;
			}
		}
		.drop-area {
			margin: 10px 0 5px 2vw;

			img {
				cursor: pointer;
			}

			.info {
				display: flex;
				flex-direction: row;
				text-align: justify;

				.round_text {
					margin-left: 20px;
				}

				.turn_text {
					margin-left: auto;
				}
			}
		}

		.your_info {
			display: flex;
			flex-direction: row;
		}
	}

	.bottom_container {
		width: 100vw;
		display: flex;
		flex-direction: row;
		align-items: center;

		.info-area {
			width: 26vw;
			min-height: 135px;

			.image-area {
				position: relative;
				min-height: 65px;

				img {
					width: 70%;
					height: 65px;
					padding-left: 63px;
					object-fit: cover;
				}

				div {
					position: absolute;
					width: 80px;
					height: 22px;
					background-color: black;
					top: 0;
					left: 0;
					padding: 10px;

					&.cost {
						height: 13px;
						top: 34px;
						padding: 10px;
					}

					&.red {
						background-color: darkred;
					}

					&.yellow {
						background-color: gold;
					}
				}
			}

			.data-area {
				min-height: 70px;
				padding: 5px 8px;
				border: 2px dashed #fff;
				font-size: 13px;

				.skill-description {
					margin-top: 2px;
				}
			}
		}

		.card_list {
			width: 100%;
			height: 145px;
			overflow-x: scroll;
			white-space: nowrap;

			img {
				display: inline-block;
				cursor: grab;
			}
		}
	}

	.clock {
		width: 100px;
		height: 100px;
		padding: 2px 0 0 20px;
		transform: rotate(-90deg);

		> :global(div::before) {
			animation: none !important;
		}
	}

	.turn-end-btn {
		width: 100px;
		cursor: pointer;
	}

	.opponent_clock {
		position: absolute;
		top: 3%;
		right: 5%;
		transform: rotate(-90deg);

		> :global(div::before) {
			animation: none !important;
		}
	}

	.marigan-btn {
		position: absolute;
		width: 100px;
		right: 30%;
		bottom: 20%;
		cursor: pointer;
	}

	.marigan-clock {
		position: absolute;
		right: 20%;
		bottom: 20%;
		transform: rotate(-90deg);

		> :global(div::before) {
			animation: none !important;
		}
	}

	.battle-space {
		min-height: 100px;
	}
}

.spinner {
	position: absolute;
}
