.wrapper {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;

	.card-thumb {
		width: 90px;
		border-radius: 1rem;
	}

	.button_container {
		width: 100vw;
		min-height: 66px;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 24px;

		.unit {
			font-size: 14px;
		}

		.left-end {
			margin-left: auto;
		}

		div {
			margin-right: 25px;
		}

		.menu-button {
			margin-right: 15px;
		}

		img {
			width: 100px;
			cursor: pointer;

			&.menu-button {
				width: 70px;
			}

			&.activate {
				width: 95px;
			}
		}
	}

	.main_container {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		.info-area {
			width: 40vw;
			font-size: 22px;

			.score {
				margin-left: 25px;
			}

			.opponent {
				margin-top: 40px;
			}

			.parameter1 {
				margin-top: 10px;
				margin-left: 5vw;
				min-width: 10vw;
			}
		}
		.drop-area {
			img {
				cursor: grab;
			}
		}

		.your_info {
			display: flex;
			flex-direction: row;
		}
	}

	.bottom_container {
		width: 100vw;
		display: flex;
		flex-direction: row;
		align-items: center;

		.info-area {
			width: 25vw;
			min-height: 135px;

			.image-area {
				position: relative;
				min-height: 65px;

				img {
					width: 70%;
					height: 65px;
					padding-left: 63px;
					object-fit: cover;
				}

				div {
					position: absolute;
					width: 80px;
					height: 22px;
					background-color: black;
					top: 0;
					left: 0;
					padding: 10px;

					&.cost {
						height: 13px;
						top: 34px;
						padding: 10px;
					}

					&.red {
						background-color: darkred;
					}

					&.yellow {
						background-color: gold;
					}
				}
			}

			.data-area {
				min-height: 70px;
				padding: 5px 8px;
				border: 2px dashed #fff;
				font-size: 13px;

				.skill-description {
					margin-top: 2px;
					font-size: 11px;
				}
			}
		}

		.card_list {
			width: 100%;
			height: 145px;
			overflow-x: scroll;
			white-space: nowrap;

			img {
				display: inline-block;
				cursor: grab;
			}
		}
	}

	.clock {
		position: absolute;
		bottom: 8%;
		right: 2%;
		transform: rotate(-90deg);

		> :global(div::before) {
			animation: none !important;
		}
	}

	.opponent_clock {
		position: absolute;
		top: 14%;
		right: 2%;
		transform: rotate(-90deg);

		> :global(div::before) {
			animation: none !important;
		}
	}

	.marigan-btn {
		position: absolute;
		width: 100px;
		right: 30%;
		bottom: 20%;
	}

	.marigan-clock {
		position: absolute;
		right: 20%;
		bottom: 20%;
		transform: rotate(-90deg);

		> :global(div::before) {
			animation: none !important;
		}
	}
}

.spinner {
	position: absolute;
}
