.not-started {
	position: absolute;
	top: 14vh;
	width: 100vw;
	height: 100vh;
}

.clock {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	margin-right: 10px;

	> :global(div::before) {
		animation: none !important;
	}
}

.marigan-clock {
	position: absolute;
	z-index: 1;
	right: 10%;
	bottom: 15%;

	> :global(div::before) {
		animation: none !important;
	}
}
